Pandas is an open source library providing high performance data manipulation ,analysis ,analysis tools using its powerful data structure

basically data structures are classified as
1 series
2 panal
3 data frame

we are going to focus on data frames

# ***INSTALLATION OF PANDAS***

In [57]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

# **IMPORTING PANDAS**

By importing pandas with the line import pandas as pd, you are making the pandas library available in your Python script or notebook under the alias pd. This is a common convention used by Python developers to make it easier to reference the pandas functions and objects.

Now you can use pandas to work with data structures like DataFrames and Series, and perform various data manipulation and analysis tasks. For example, you can read data from a file, perform filtering and aggregation, apply transformations, and visualize the data using pandas and other libraries.

In [58]:
import pandas as pd

By importing numpy with the line import numpy as np, you are making the numpy library available in your Python script or notebook under the alias np. This is a common convention used by Python developers to make it easier to reference the numpy functions and objects.

Numpy is a powerful library for numerical computing in Python. It provides efficient data structures, such as arrays, and a variety of mathematical functions to operate on these arrays.

In [59]:
import numpy as np

# ***`we have to create df in variable`***

The line df = pd.DataFrame() creates an empty DataFrame using pandas.

A DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. It is similar to a table or a spreadsheet, where data is organized in rows and columns. By creating an empty DataFrame, you have a blank canvas to which you can add data or perform operations.

In [60]:
df=pd.DataFrame()

Printing just df will display the contents of the DataFrame df. However, since you have created an empty DataFrame using df = pd.DataFrame(), printing it will show an empty structure with the column headers.

In [61]:
df

Empty DataFrame
Columns: []
Index: []

It appears that i has created two lists, name and city, and combined them into a dictionary n. Each list corresponds to a specific key in the dictionary. If you'd like to create a DataFrame from this data, you can use the pd.DataFrame() function and pass the dictionary n as an argument.


In this example, the dictionary n contains two keys, 'Name1' and 'City', with their corresponding values from the name and city lists. By passing n to pd.DataFrame(), a DataFrame is created where each key becomes a column in the DataFrame, and the values are populated accordingly.

The resulting DataFrame has two columns, 'Name1' and 'City', with the respective values 'a', 'b', 'c', and 'x', 'y', 'z'. The index values are automatically generated as 0, 1, 2 in this case.

Note that the order of the columns in the DataFrame may not necessarily match the order of keys in the dictionary. To ensure a specific column order, you can use an ordered dictionary or reorder the columns after creating the DataFrame.

In [62]:
name = ['a','b','c']
city = ['x','y','z']
n={'Name1':name,"city":city}

The line df = pd.DataFrame(n) creates a DataFrame using the dictionary n as the input data.

Here's an example to illustrate the usage:

In [63]:
df=pd.DataFrame(n)

If you want to display the contents of the DataFrame df, you can simply print it without any additional code.

In [64]:
df

  Name1 city
0     a    x
1     b    y
2     c    z

after creating the DataFrame df from the dictionary n, the index values are updated using the list i. By assigning i to df.index, the index values of the DataFrame are replaced with the values from the list.

The resulting DataFrame has the column names 'Name1' and 'City', and the index values 'Rank1', 'Rank2', and 'Rank3'. The corresponding data from the original DataFrame is preserved.

By updating the index, you can assign custom labels or identifiers to the rows in the DataFrame for easier referencing or indexing.

In [65]:
name=['a','b','c']
city= ['x','y','z']
n={'Name1':name,"city":city}
i=['Rank1','Rank2','Rank3']

The line df = pd.DataFrame(n, index=i) creates a DataFrame using the dictionary n as the input data and assigns the list i as the index values of the DataFrame.

Here's an example to illustrate the usage:


In this example, the dictionary n contains two keys, 'Name1' and 'City', with their corresponding values from the name and city lists. By passing n and the index list i to pd.DataFrame(), a DataFrame is created where each key becomes a column in the DataFrame, the values are populated accordingly, and the index values are set as 'Rank1', 'Rank2', and 'Rank3'.

The resulting DataFrame has two columns, 'Name1' and 'City', with the respective values 'a', 'b', 'c', and 'x', 'y', 'z'. The index values are assigned as 'Rank1', 'Rank2', and 'Rank3'.

By assigning the created DataFrame to the variable df, you can now work with the DataFrame and perform various operations and manipulations on the data using pandas functions and methods.

In [66]:
df = pd.DataFrame(n,index=i)

In [67]:
df

      Name1 city
Rank1     a    x
Rank2     b    y
Rank3     c    z

To access the values in the 'Name1' column of the DataFrame df, you can use the dot notation (df.Name1) or square bracket notation (df['Name1']).

In [68]:
df.Name1

Rank1    a
Rank2    b
Rank3    c
Name: Name1, dtype: object

In [69]:
df['Name1']

Rank1    a
Rank2    b
Rank3    c
Name: Name1, dtype: object

INSERTING A COLUMN IN DATA FRAME

The line df['Age'] = age adds a new column named 'Age' to the DataFrame df and populates it with the values from the list age. The length of the list should match the number of rows in the DataFrame for the assignment to be successful.

In [70]:
age = [20,25,30]
df['Age']=age

In this example, the 'Age' column is created by assigning the values from the list age to df['Age']. The resulting DataFrame now has three columns: 'Name1', 'City', and 'Age', with their respective values.

By adding the 'Age' column, you have expanded the DataFrame to include additional information about the corresponding rows. This allows you to work with the combined data and perform various operations and analyses on it.

In [71]:
df

      Name1 city  Age
Rank1     a    x   20
Rank2     b    y   25
Rank3     c    z   30

DELETING A COLUMN FROM DATA FRAME


The line del df['Age'] removes the column named 'Age' from the DataFrame df. This operation deletes the specified column and modifies the DataFrame in place.

In [72]:
del df['Age']

In [73]:
df

      Name1 city
Rank1     a    x
Rank2     b    y
Rank3     c    z

INSERTING A COLUMN IN DATA FRAME

The line df['Age'] = age adds a new column named 'Age' to the DataFrame df and populates it with the values from the list age. The length of the list should match the number of rows in the DataFrame for the assignment to be successful

In [74]:
df['Age']=age
age=[20,25,30]
df

      Name1 city  Age
Rank1     a    x   20
Rank2     b    y   25
Rank3     c    z   30


The df.pop('Age') method removes the column named 'Age' from the DataFrame df and returns it as a separate Series. This operation modifies the DataFrame in place.

In [75]:
df.pop('Age')

Rank1    20
Rank2    25
Rank3    30
Name: Age, dtype: int64

It seems like you are generating three arrays r, n, and c using the NumPy library.

The r array is generated using np.random.randint function, which generates random integers. It takes the arguments low=1 (specifying the lower bound, inclusive) and high=50 (specifying the upper bound, exclusive), and size=25 specifies that 25 random integers should be generated.

The n array is generated using np.random.choice function, which randomly selects elements from the given choices. It takes the argument size=25 to specify the number of elements to be chosen. However, there seems to be a typo in the choices, as 'B''C' should be 'B', 'C'.

The c array is generated using np.random.choice function, similar to the n array. It chooses random elements from the given choices [10, 11, 12, 13, 14, 15, 16, 17, 18, 19] with size=25.

If you have any specific question or need further assistance with these arrays, please let me know.

In [76]:
r=np.random.randint(low=1,high=50,size=25)
n=np.random.choice(['A','B''C','D','E','F'],size=25)
c=np.random.choice([10,11,12,13,14,15,16,17,18,19],size=25)

The line dict1 = {'x': r, 'y': n, 'z': c} creates a dictionary dict1 with keys 'x', 'y', and 'z', and assigns the corresponding arrays r, n, and c to those keys.

converting to dictionary

In [77]:
dict1={'x':r,'y':n,"z":c}

The line df = pd.DataFrame(dict1) creates a DataFrame df from the dictionary dict1, where each key-value pair in the dictionary corresponds to a column in the DataFrame.

In [78]:
df=pd.DataFrame(dict1)

In [79]:
df

     x   y   z
0    7   F  12
1    3   A  18
2   35   A  15
3   20   E  14
4    7   D  11
5    8   F  19
6   49   F  12
7    3   E  19
8   42   E  11
9   10  BC  10
10   2   A  15
11  23  BC  16
12  15   F  18
13  32   E  12
14  18   D  16
15   2   F  14
16  41  BC  18
17   5   A  16
18   9  BC  19
19  20   A  13
20  35   D  18
21   6  BC  13
22  14  BC  19
23   8   F  17
24  28   F  13

TO CHECK FIRST 5 ROWS OF DATA FRAME

In [80]:
df.head()

    x  y   z
0   7  F  12
1   3  A  18
2  35  A  15
3  20  E  14
4   7  D  11

we need only 10 rows of data frame

In [81]:
df.head(10)

    x   y   z
0   7   F  12
1   3   A  18
2  35   A  15
3  20   E  14
4   7   D  11
5   8   F  19
6  49   F  12
7   3   E  19
8  42   E  11
9  10  BC  10

TO SEE THE LAST 5 ROWS IN DATA FRAME

In [82]:
df.tail()

     x   y   z
20  35   D  18
21   6  BC  13
22  14  BC  19
23   8   F  17
24  28   F  13

TO SEE THE LAST 10 ROWS IN DATA FRAME

In [83]:
df.tail(10)

     x   y   z
15   2   F  14
16  41  BC  18
17   5   A  16
18   9  BC  19
19  20   A  13
20  35   D  18
21   6  BC  13
22  14  BC  19
23   8   F  17
24  28   F  13

The df.describe() method provides a summary of the statistical information for each numerical column in the DataFrame df. It calculates various descriptive statistics, such as count, mean, standard deviation, minimum, quartiles, and maximum values.

In [84]:
df.describe()

               x          z
count  25.000000  25.000000
mean   17.680000  15.120000
std    14.226501   2.920046
min     2.000000  10.000000
25%     7.000000  13.000000
50%    14.000000  15.000000
75%    28.000000  18.000000
max    49.000000  19.000000

READING THE EXCEL SHEEETS

In [88]:
df=pd.read_csv('diabetes.csv')

In [95]:
df.head

<bound method NDFrame.head of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]>

In [96]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [89]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [90]:
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [91]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [92]:
df.tail(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [93]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [94]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000